* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, .App, #root {
  height: 100%
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100%
}

a {
  color: #333;
  text-decoration: none;
}

nav#nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(91,94,101,0.3);
  border-bottom: 1px solid #e7e7e7;

}
ul.nav-bar {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  align-self: center;
  padding-right: 2%;
}

li {
  float: right;
  height: auto;
  width: 89px;
}

li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover:not(.active) {
  background-color: rgba(91,94,101,0.6);
  color: white;
}

li a.active {
  color: white;
}

#logo {
  width: 140px;
  height: 100px;
  padding: 1px;
}

div#carousel {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 70%;
  width: 100%;
}

div#slide-container {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-image: url("../src/images/todo-bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow: 12px 0 15px -4px #888888, -12px 0 8px -4px #888888;
  z-index: 15;
}

#arrow-left, #arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%; 
  color: #5b5e65;
  text-shadow: 30px 10px 0 red;

  background-color: #f3f3f3;
}

.fa-angle-double-left:hover:not(.active),
.fa-angle-double-right:hover:not(.active) {
  width: 1.3em;
  height: 1.3em;
}

 


