* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, .App, #root {
  height: 100%
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100%
}

a {
  color: #333;
  text-decoration: none;
}

nav#nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  border-bottom: 1px solid #e7e7e7;

}
ul.nav-bar {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  align-self: center;
  padding-right: 2%;
}

li {
  float: right;
  height: auto;
  width: 89px;
}

li a {
  display: block;
  color: #666;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

#logo {
  width: 140px;
  height: 100px;
  padding: 1px;
}

div#carousel {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 75%;
  width: 100%;
  background-color: grey;
}

div#slide-container {
  height: 100%;
  width: 100%;
  background-image: url("../src/images/todo-bg.jpg");
  background-repeat:no-repeat;
  background-size:cover
}


